:root {
    --med-yaara-font-family: "Inter", Helvetica;
    --med-yaara-font-weight: 800;
    --med-yaara-font-size: 96px;
    --med-yaara-letter-spacing: 0px;
    --med-yaara-line-height: normal;
    --med-yaara-font-style: italic;
    --medyaara-regular-font-family: "Bad Script", Helvetica;
    --medyaara-regular-font-weight: 400;
    --medyaara-regular-font-size: 234px;
    --medyaara-regular-letter-spacing: 0px;
    --medyaara-regular-line-height: normal;
    --medyaara-regular-font-style: normal;
    --med-yaara-regular-font-family: "Bad Script", Helvetica;
    --med-yaara-regular-font-weight: 400;
    --med-yaara-regular-font-size: 39px;
    --med-yaara-regular-letter-spacing: 0px;
    --med-yaara-regular-line-height: normal;
    --med-yaara-regular-font-style: normal;
    --roboto-39px-regular-font-family: "Roboto", Helvetica;
    --roboto-39px-regular-font-weight: 400;
    --roboto-39px-regular-font-size: 39px;
    --roboto-39px-regular-letter-spacing: 0px;
    --roboto-39px-regular-line-height: normal;
    --roboto-39px-regular-font-style: normal;
    --roboto-31px-regular-font-family: "Roboto", Helvetica;
    --roboto-31px-regular-font-weight: 400;
    --roboto-31px-regular-font-size: 31px;
    --roboto-31px-regular-letter-spacing: 0px;
    --roboto-31px-regular-line-height: normal;
    --roboto-31px-regular-font-style: normal;
    --roboto-25px-regular-font-family: "Roboto", Helvetica;
    --roboto-25px-regular-font-weight: 400;
    --roboto-25px-regular-font-size: 25px;
    --roboto-25px-regular-letter-spacing: 0px;
    --roboto-25px-regular-line-height: normal;
    --roboto-25px-regular-font-style: normal;
    --roboto-20px-regular-font-family: "Roboto", Helvetica;
    --roboto-20px-regular-font-weight: 400;
    --roboto-20px-regular-font-size: 20px;
    --roboto-20px-regular-letter-spacing: 0px;
    --roboto-20px-regular-line-height: normal;
    --roboto-20px-regular-font-style: normal;
    --roboto-16px-regular-font-family: "Roboto", Helvetica;
    --roboto-16px-regular-font-weight: 400;
    --roboto-16px-regular-font-size: 16px;
    --roboto-16px-regular-letter-spacing: 0px;
    --roboto-16px-regular-line-height: normal;
    --roboto-16px-regular-font-style: normal;
    --roboto-13px-regular-font-family: "Roboto", Helvetica;
    --roboto-13px-regular-font-weight: 400;
    --roboto-13px-regular-font-size: 13px;
    --roboto-13px-regular-letter-spacing: 0px;
    --roboto-13px-regular-line-height: normal;
    --roboto-13px-regular-font-style: normal;
    --roboto-10px-regular-font-family: "Roboto", Helvetica;
    --roboto-10px-regular-font-weight: 400;
    --roboto-10px-regular-font-size: 10px;
    --roboto-10px-regular-letter-spacing: 0px;
    --roboto-10px-regular-line-height: normal;
    --roboto-10px-regular-font-style: normal;
    --akaya-telivigala-31px-regular-font-family: "Akaya Telivigala", Helvetica;
    --akaya-telivigala-31px-regular-font-weight: 400;
    --akaya-telivigala-31px-regular-font-size: 64px;
    --akaya-telivigala-31px-regular-letter-spacing: 0px;
    --akaya-telivigala-31px-regular-line-height: normal;
    --akaya-telivigala-31px-regular-font-style: normal;
    --akaya-telivigala-25px-mediyaara-font-family: "Akaya Telivigala", Helvetica;
    --akaya-telivigala-25px-mediyaara-font-weight: 400;
    --akaya-telivigala-25px-mediyaara-font-size: 25px;
    --akaya-telivigala-25px-mediyaara-letter-spacing: 0px;
    --akaya-telivigala-25px-mediyaara-line-height: normal;
    --akaya-telivigala-25px-mediyaara-font-style: normal;
    --akaya-telivigala-20px-regular-font-family: "Akaya Telivigala", Helvetica;
    --akaya-telivigala-20px-regular-font-weight: 400;
    --akaya-telivigala-20px-regular-font-size: 20px;
    --akaya-telivigala-20px-regular-letter-spacing: 0px;
    --akaya-telivigala-20px-regular-line-height: normal;
    --akaya-telivigala-20px-regular-font-style: normal;
    --akaya-telivigala-16px-regular-font-family: "Akaya Telivigala", Helvetica;
    --akaya-telivigala-16px-regular-font-weight: 400;
    --akaya-telivigala-16px-regular-font-size: 16px;
    --akaya-telivigala-16px-regular-letter-spacing: 0px;
    --akaya-telivigala-16px-regular-line-height: normal;
    --akaya-telivigala-16px-regular-font-style: normal;
    --akaya-telivigala-13px-regular-font-family: "Akaya Telivigala", Helvetica;
    --akaya-telivigala-13px-regular-font-weight: 400;
    --akaya-telivigala-13px-regular-font-size: 13px;
    --akaya-telivigala-13px-regular-letter-spacing: 0px;
    --akaya-telivigala-13px-regular-line-height: normal;
    --akaya-telivigala-13px-regular-font-style: normal;
    --akaya-telivigala-10px-regular-font-family: "Akaya Telivigala", Helvetica;
    --akaya-telivigala-10px-regular-font-weight: 400;
    --akaya-telivigala-10px-regular-font-size: 10px;
    --akaya-telivigala-10px-regular-letter-spacing: 0px;
    --akaya-telivigala-10px-regular-line-height: normal;
    --akaya-telivigala-10px-regular-font-style: normal;
    --bad-script-31px-regular-font-family: "Bad Script", Helvetica;
    --bad-script-31px-regular-font-weight: 400;
    --bad-script-31px-regular-font-size: 31px;
    --bad-script-31px-regular-letter-spacing: 0px;
    --bad-script-31px-regular-line-height: normal;
    --bad-script-31px-regular-font-style: normal;
    --bad-script-25px-regular-font-family: "Bad Script", Helvetica;
    --bad-script-25px-regular-font-weight: 400;
    --bad-script-25px-regular-font-size: 25px;
    --bad-script-25px-regular-letter-spacing: 0px;
    --bad-script-25px-regular-line-height: normal;
    --bad-script-25px-regular-font-style: normal;
    --bad-script-20px-regular-font-family: "Bad Script", Helvetica;
    --bad-script-20px-regular-font-weight: 400;
    --bad-script-20px-regular-font-size: 20px;
    --bad-script-20px-regular-letter-spacing: 0px;
    --bad-script-20px-regular-line-height: normal;
    --bad-script-20px-regular-font-style: normal;
    --bad-script-16px-regular-font-family: "Bad Script", Helvetica;
    --bad-script-16px-regular-font-weight: 400;
    --bad-script-16px-regular-font-size: 16px;
    --bad-script-16px-regular-letter-spacing: 0px;
    --bad-script-16px-regular-line-height: normal;
    --bad-script-16px-regular-font-style: normal;
    --bad-script-13px-regular-font-family: "Bad Script", Helvetica;
    --bad-script-13px-regular-font-weight: 400;
    --bad-script-13px-regular-font-size: 13px;
    --bad-script-13px-regular-letter-spacing: 0px;
    --bad-script-13px-regular-line-height: normal;
    --bad-script-13px-regular-font-style: normal;
    --bad-script-10px-regular-font-family: "Bad Script", Helvetica;
    --bad-script-10px-regular-font-weight: 400;
    --bad-script-10px-regular-font-size: 10px;
    --bad-script-10px-regular-letter-spacing: 0px;
    --bad-script-10px-regular-line-height: normal;
    --bad-script-10px-regular-font-style: normal;
    --bad-script-39px-regular-font-family: "Bad Script", Helvetica;
    --bad-script-39px-regular-font-weight: 400;
    --bad-script-39px-regular-font-size: 39px;
    --bad-script-39px-regular-letter-spacing: 0px;
    --bad-script-39px-regular-line-height: normal;
    --bad-script-39px-regular-font-style: normal;
    --bad-script-122px-regular-font-family: "Bad Script", Helvetica;
    --bad-script-122px-regular-font-weight: 400;
    --bad-script-122px-regular-font-size: 122px;
    --bad-script-122px-regular-letter-spacing: 0px;
    --bad-script-122px-regular-line-height: normal;
    --bad-script-122px-regular-font-style: normal;
  }
  